<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy"
      content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">

    <title>INTENZ</title>

    <meta name="theme-color" content="">
    <meta name="msapplication-navbutton-color" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- FACEBOOK META TAGS -->
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="fb:app_id" content="" />

    <!-- TWITTER META TAGS -->
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <meta name="twitter:description" content="" />

    <!-- SCHEMA.ORG META -->
    <meta itemprop="name" content="" />
    <meta itemprop="url" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="thumbnailUrl" content="" />
    <link rel="image_src" href="" />
    <meta itemprop="image" content="" />

    <!-- COMMON META -->
    <meta name="title" content="" />
    <meta name="url" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
  </head>

  <body>
    <noscript>
      <strong>We're sorry but SNDT Express doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

</html>
