@import './marketplace.css';

.main-view .container {
  width: 100%;
  /*padding-right: 15px;
  padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .main-view .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main-view .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-view .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-view .container {
    max-width: 1140px;
  }
}



body {
  font-family: 'Poppins Regular';
  /* padding: 0px; */
  margin: 0px;
}

.top-head {
  display: flex;
}

.top-head-logo {
  flex-grow: 1;
  padding: 10px 10px;
}

.top-head-links {
  flex-grow: 4;
  padding: 10px 10px;
}

.top-head-links ul > li {
  display: inline;
  padding-right: 30px;
  padding-left: 30px;
  color: #fff;
}

.top-head-login-links {
  flex-grow: 1;
}

.top-head-login-links {
  flex-grow: 1;
  padding: 10px 10px;
  font-weight: 100;
  font-weight: 100;
}

.top-head-login-links ul > li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

.top-head {
  min-height: 80px;
  border-bottom: 0.8px solid #e4dfdf;
}

.top-head-logo img {
  width: 200px;
  padding-left: 50px;
}

.top-head a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.top-head-login-links .signup {
  background: #5633c1;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, span {
  padding: 0;
  margin: 0;
}

.block{
  padding:0;
}

.content-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.content-container h1{
  font-size: 3.2em;
  line-height: 1;
  margin-bottom: .5em;
}

.content-container p{
  font-size: 1.2em;
  margin-bottom: .5em;
  
}

.content-container li{
  font-size: 1em;
  padding-bottom: .5em;
  line-height: 1.3;
}

.content-container span {
  font-weight: 700;
}


.circle {
  width:10px;
  height:10px;
  border-radius:50px;
  font-size:20px;
  line-height:100px;
  background: black;
  margin: 0 5px;
}



.section-two{
  background: url('../images/best-travel.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 40em;
  margin-bottom: 8em;
}

.section-three{
  background: pink;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30em;
}

.content-one{
  background: url('../images/home-bg.jpg');
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height:500px;
  text-align: center;
}

.button-one{
  color: white;
  padding: 2em 0;
  margin: 1em 25em;
  border-style: solid;
  border-color: white;
  width: 200px;
}

.content-two{
  text-align: center;
  color: black;
  padding-top: 1em;
}

.content-two > span, .content-two > p {
  display: inline-block;
}

.content-cntainer > .content-one {
  font-size: 25px;
  width: 100%;
}

.content-cntainer > .content-two {
  font-size: 25px;
  width: 100%;
}

.main-content > .content-three {
  padding: 10px 0;
  margin: 10px 0;
  font-size: 15px;
  width: 100%; 
}

.content-three > .main-three {
  width: 100%;
}

.content-seven > span, .content-seven > p {
  display: inline-block;
}

.center-text {
  display: flex;
  align-items: flex-end;
}

.content-three{
  width: 100%;
  display: flex;
  height: 30em;
}

.content-three-left{
  background: url('../images/slide1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.content-three-right{
  text-align: left;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  
}

ul.list-content{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content-three-right span{
  background-color: darkblue;
  color: white;
  padding: 0 5px;
}



.button-two{
  color: black;
  padding: 2em 0;
  border-style: solid;
  border-color: black;
  width: 180px;
  margin-top:2em;
}

.content-four-right{
  background: url('../images/slide2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 30em;
}

.content-four-left{
  height: 25em;
  padding-right: 4em;
  padding-top: 3em;
  padding-left: 15%;
}

.content-four-left span{
  background-color: darkblue;
  color: white;
  padding: 0 5px;
}

.button-three{
  color: black;
  padding: 2em 0;
  border-style: solid;
  border-color: black;
  width: 200px;
  margin-bottom: 1em;
  font-weight: 700;
}

.button-four{
  color: black;
  padding: 2em 0;
  border-style: solid;
  border-color: black;
  width: 200px;
  margin-bottom: 1em;
  font-weight: 700;
}

.content-five-left{
  background: url('../images/slide4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 30em;
}

.content-five-right{
  height: 25em;
  padding-left: 4em;
  padding-top: 3em;
  padding-right: 15%;
}

.bullet-item{
  width: 50%;
}

.flex-container-left {
  display: flex;
  height: 40em;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.flex-container-center {
  display: flex;
  height: 46em;
  align-items: flex-end;
  justify-content: center;
  
}

.flex-container-right {
  display: flex;
  height: 40em;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.flex-container-left .flex-container-center .flex-container-right > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.text-flex{
  font-size: 2em;
  padding-right: .2em;
  color: peachpuff;
}

.card-text{
  width: 20em;
  background-repeat: no-repeat;
  background-size: cover;
}


.no-border-left{
  background: url('../images/pic4.jpg');
  color: white;
  height: 20em;
}

.no-border-center{
  background: url('../images/pic3.jpg');
  color: black;
  height: 20em;
}


.no-border-right{
  background: url('../images/pic2.jpg');
  color: white;
  height: 20em;
}

.content-nine{
  display: flex;
  padding-top: 5em;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.content-ten{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  align-items: flex-start;
  padding: 0 10em;
}

.content-ten > div {
  width: 250px;
  text-align: center;
}

.content-eleven-right{
  background: url('../images/slide3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 30em;
}

.content-eleven-left{
  height: 30em;
  padding-right: 4em;
  padding-left: 15%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  font-style: italic;
  justify-content: flex-end;
}

.testi{
  font-weight: 700;
  font-style: normal;
}

.image-one{
  background: url('../images/offers-block_1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 30em;
}

.image-two{
  background: url('../images/offers-block_2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 30em;
}

.image-three{
  background: url('../images/offers-block_3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 30em;
}

.image-four{
  background: url('../images/offers-block_4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 30em;
}

/* footer */

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin: 15px 0;
}

.footer-container > div {
  width: 300px;
  margin: 10px;
  font-size: 15px;
}

.list-text{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  line-height: 30px;
}

.footer-container h2{
  font-size: 1.2em;
}


.footer-container img{
  font-size: 2.5em;
  margin-top:-10px;
  text-align: center;
}