.marketplace-page .page-content {
  overflow-x: hidden;
}

/* TOP NAV */
.marketplace-top-header {
  background: #fcfcfd;
  /* border-bottom: 1px solid #e4dfdf; */
  padding: 10px 0px;
}
.marketplace-top-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.marketplace-top-header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.marketplace-top-header ul li {
  padding: 5px 15px;
  margin: 0px;
  font-size: 14px;
}
.marketplace-top-header ul li:first-child {
  padding-left: 0px;
}
.marketplace-top-header ul li:last-child {
  padding-right: 0px;
}
.marketplace-top-header ul li a {
  color: #323232;
  font-weight: bold;
}
.marketplace-top-header ul li a svg {
  margin-left: 7px;
  font-size: 12px;
}
.marketplace-top-header ul li.active a {
  color: #5633c1;
}

/* MARKETPLACE NAVIGATION */
.marketplace-nav .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  --f7-input-outline-focused-border-color: transparent;
  --f7-input-focused-border-color: transparent;
  --f7-input-outline-border-color: transparent;
}
.marketplace-nav .logo-container {
  width: 200px;
  margin-right: 50px;
}
.marketplace-nav .logo-container .logomain {
  display: block;
}
.marketplace-nav .logo-container .logosmall {
  display: none;
}
.marketplace-nav .logo-container img {
  width: 100%;
}
.marketplace-nav .input {
  display: flex;
  width: 50%;
  flex-grow: 1;
  flex-direction: row;
  border-color: transparent;
  margin: 0px 20px;
}
.marketplace-nav .input::after {
  display: none !important;
}
.marketplace-nav .input input {
  padding: 15px 25px;
  font-size: 18px;
  outline: none;
  background: #e7e4f1;
  border-radius: 10px 0px 0px 10px;
  border-color: transparent;
}
.marketplace-nav .input ::placeholder {
  color: #212121;
  opacity: 1;
}
.marketplace-nav .input .button {
  background: #5633c1;
  height: auto;
  color: #fff;
  border: 0px;
  outline: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  width: 80px;
  transition: all 0.3s ease-out;
  position: relative;
}
.marketplace-nav .button-container svg {
  color: #212121;
  font-size: 24px;
}
/* CATEGORIES */
.marketplace-page .categories-list {
  background: #5633c1;
}
.marketplace-page .categories-list .container {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.marketplace-page .categories-list ul {
  margin: 0px;
  list-style: none;
  padding: 0px 20px;
}
.marketplace-page .categories-list ul li {
  display: inline;
  margin: 0px;
  padding: 0px 30px;
}
.marketplace-page .categories-list ul li:first-child {
  padding-left: 0px;
}
.marketplace-page .categories-list ul li:last-child {
  padding-right: 0px;
}
.marketplace-page .categories-list ul li a {
  color: #fff;
  font-size: 14px;
}

/* SLIDER */
.main-banner {
  background: #f9f9f9;
}
.main-banner .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  height: 300px;
}
.main-banner .categories {
  background: #fff;
  border-radius: 8px;
  height: 100%;
  margin: 20px 20px 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-banner .categories ul {
  list-style: none;
  padding: 10px 20px;
  margin: 0px;
}
.main-banner .categories ul li {
  padding: 6px 0px;
}
.main-banner .categories ul li a {
  color: #212121;
  font-size: 13px;
}
.main-banner .banner-slider {
  width: 50%;
  flex-grow: 1;
  border-radius: 8px;
  height: 100%;
}
.main-banner .banner-slider img {
  width: auto;
  height: 100%;
  object-fit: fill;
}
.main-banner .policies {
  background: #fff;
  padding: 0px 30px 0px 20px;
  border-radius: 8px;
  margin-left: 20px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.main-banner .policies div {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.main-banner .policies img {
  width: 30px;
  margin: 10px 15px 10px 0px;
}
.swiper-button-next,
.swiper-button-prev {
  background: #212121;
  padding: 2px 4px;
  border-radius: 8px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
  color: #fff;
}

/* BRANDS CONTAINER */

.brands-container .container {
  margin: 30px 0px;
}
.brands-container .title {
  margin-bottom: 20px;
}
.brands-container .recommendedbrands-voucher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.brands-container .container .brands {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.brands .brand {
  width: 180px;
  margin-right: 5px;
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 10%);
  margin-bottom: 5px;
}
.brands .brand img {
  width: 100%;
}
.brands-container .container .vouchers {
  width: 400px;
}
.vouchers .voucher img {
  width: 100%;
}

/* TITLE */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f9f9f9;
}
.title h1 {
  font-size: 18px;
}
.title a {
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
}
.title a svg {
  margin-left: 6px;
}

/* SALES CONTAINER */
.sales-container {
  background: #f9f9f9;
}
.sales-container .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0px;
}
.container .salescard {
  width: 45%;
  flex-grow: 1;
  margin-right: 15px;
  background: #fff;
  padding: 5px 20px;
  border-radius: 8px;
  min-height: 340px;
}
.container .salescard:only-child,
.container .salescard:last-child {
  margin-right: 0px;
}
.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product-list .product {
  padding: 10px 0px 20px;
  width: 19%;
  flex-grow: 1;
  cursor: pointer;
}
.product-list .product .image {
  /* width: 200px; */
}
.product-list .product img {
  width: 100%;
}
.product-list .product .content {
}
.product-list .product .content span.sale {
  background: #ff663c;
  color: #fff;
  padding: 2px 10px;
}
.product-list .product .content span.new {
  background: #5633c1;
  color: #fff;
  padding: 2px 10px;
}
.product-list .product .content h4 {
  margin: 5px 0px 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 1.6em;
}
.product-list .product .content p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.6em;
  color: #ff663c;
}

/* RECOMMENDED BRANDS */
.recommendedbrands-container .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0px 10px;
}
.recommendedbrands-container .brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.recommendedbrands-container .brands .brand {
  width: calc(22% - 40px);
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px 25px 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 10%);
}
.brands .brand .content {
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}
.brands .brand .content h4 {
  margin: 0px 0px 5px;
  font-weight: 700;
  font-size: 18px;
}
.brands .brand .content p {
  font-size: 13px;
}
.brands .brand .image {
  width: 150px;
}
.brands .brand img {
  width: 100%;
}
.banner-sale-container {
  background: #fcfcfd;
  padding: 50px 0px 20px;
}
.banner-sale-container .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 30px;
  flex-wrap: wrap;
}
.banner-sale-container .banner {
  width: 50%;
  flex-grow: 1;
  height: 175px;
  overflow: hidden;
  cursor: pointer;
}
.banner-sale-container .banner img {
  height: 100%;
  object-fit: cover;
}

/* RECOMMENDED FOR YOU */
.recommendedforyou-container {
  background: #fcfcfd;
}
.recommendedforyou-container .container {
  padding: 10px 0px 20px;
}
.recommendedforyou-container .product-list {
  flex-wrap: wrap;
}
.recommendedforyou-container .product-list .product {
  background: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  width: calc(20% - 50px);
}
.recommendedforyou-container .product-list .product .content {
  margin-top: 15px;
}
/* POLICY CONTAINER */
.policy-container {
  background: #fff;
}
.policy-container .container {
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.policy {
  text-align: center;
  padding: 10px 25px;
  width: calc(25% - 50px);
}
.policy .image {
  width: 70px;
  height: 70px;
  margin: 10px auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.policy img {
  width: 100%;
}
.policy h4 {
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  .brands-container .recommendedbrands-voucher {
    flex-direction: column;
  }
  .brands-container .container .brands {
    width: 100%;
  }
  .brands .brand {
    width: 170px;
    flex-grow: 1;
  }
  .brands-container .container .vouchers {
    width: 100%;
    margin-top: 10px;
  }
  .sales-container .container {
    flex-direction: column;
  }
  .container .salescard {
    width: calc(100% - 40px);
    margin: 0px 0px 20px;
  }
  .recommendedbrands-container .brands .brand {
    width: calc(50% - 40px);
  }
  .recommendedforyou-container .product-list .product {
    width: calc(30% - 30px);
  }
  .policy {
    width: calc(50% - 50px);
  }
}
@media only screen and (max-width: 768px) {
  .marketplace-top-header li:nth-child(2) {
    display: none;
  }
  .marketplace-top-header li.active {
    display: none;
  }
  .marketplace-nav .logo-container {
    width: auto;
    margin-right: 0px;
  }
  .marketplace-nav .logo-container .logomain {
    display: none;
  }
  .marketplace-nav .logo-container .logosmall {
    display: block;
    width: 100px;
  }
  .main-banner .categories {
    display: none;
  }
  .main-banner .policies {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .marketplace-top-header .container,
  .main-banner .container,
  .brands-container .container,
  .sales-container .container,
  .recommendedbrands-container .container,
  .banner-sale-container .container,
  .recommendedforyou-container .container,
  .policy-container .container,
  .marketplace-nav .container {
    width: calc(100% - 40px) !important;
    margin: 0 auto;
  }
  .marketplace-page .categories-list .container {
    padding: 10px 20px;
  }
  .main-banner .container {
    padding: 15px 20px;
  }
  .marketplace-top-header ul li {
    font-size: 10px;
    padding: 5px 8px;
  }
  .marketplace-nav .logo-container .logosmall {
    width: 55px;
  }
  .marketplace-nav .input {
    margin: 0px 10px;
  }
  .marketplace-nav .input input {
    padding: 10px 10px;
    font-size: 12px;
  }
  .marketplace-nav .input .button {
    width: 55px;
  }
  .marketplace-nav .button-container svg {
    font-size: 18px;
  }
  .marketplace-page .categories-list ul {
    padding: 0px;
  }
  .marketplace-page .categories-list ul li {
    padding: 0px 15px;
  }
  .marketplace-page .categories-list ul li a {
    font-size: 12px;
  }
  .main-banner .container {
    height: 145px;
  }
  .brands .brand {
    width: 100px;
  }
  .product-list .product .content h4 {
    font-size: 14px;
  }
  .recommendedbrands-container .brands .brand {
    width: 100%;
  }
  .banner-sale-container .banner {
    width: 100%;
  }
  .banner-sale-container .banner:nth-child(2),
  .banner-sale-container .banner:nth-child(3),
  .banner-sale-container .banner:nth-child(4) {
    display: none;
  }
  .sales-container .product-list .product:nth-child(3) {
    display: none;
  }
  .brands .brand:nth-child(7),
  .brands .brand:nth-child(8) {
    display: none;
  }
}
