<template>
  <f7-page class="product-lists-page main-view">
    <HeaderComponent></HeaderComponent>
    <div class="parent main-view contact" style="">
      <div class="container">
        <!-- <h2 style="text-align: center;">Please contact <a href="maito:info@gojjx.com">info@gojjx.com</a> for more info</h2> -->

        <h1 style="text-align: center;">Contact Us</h1>

        <p>If you have any enqiry, please send us an email.</p>
        <p>Email:  <a href="maito:jjxcs@gojjx.com">jjxcs@gojjx.com</a></p>


        <h2>Our Office:</h2>
        <p>Australia
        Level 3, Suite 2/104 Commonwealth St, Surry Hills NSW 2010 <br/>
        +61 02 8272 3800</p>

        <h2>Hong Kong</h2>
        <p>13103N, ATL Logistics Centre B, Berth 3, Kwai Chung Container Terminals, New Territories, Hong Kong. <br/>
        +852 2233 2744</p>


        <h2>Shanghai</h2>
        <p>13th Floor, Gangtai Square, 700 Yan’an East Road, Huangpu District, Shanghai <br/>上海市黄浦区南京东路街道延安东路700号港泰广场13层</p>

      </div>
    </div>

    <NewsLetterComponent></NewsLetterComponent>
    <FooterComponent></FooterComponent>
  </f7-page>
</template>

<script>
import { defineComponent, ref, reactive, computed, onMounted } from "vue";
import NewsLetterComponent from "@/components/NewsLetterComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";
import HeaderComponent from "@/components/HeaderComponent.vue";
import { $HTTP } from "@/utils/axios";
export default defineComponent({
  name: "ContactPage",
  components: {
    HeaderComponent,
    FooterComponent,
    NewsLetterComponent
  },
  setup() {


    return {

    };
  },
});
</script>

<style>
  .contact{
    margin-top-top:60px;
    padding: 10px 10px;
  }
  @media (max-width: 375px) {
    .agreement{
      margin-top: 80px;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .contact{
      margin-top: 80px;
    }
  }
</style>
