<template>
   <f7-page class="grid-demo">
     <HeaderComponent></HeaderComponent>o
  <f7-block class="section-one content-cntainer">
    <f7-block class="content-one">
      <p>Exploring the world!</p>
      <h1>The Ultimate Vacation Journey</h1>
      <f7-col>
        <f7-button outline class="button-one">View Packages</f7-button>
      </f7-col>
    </f7-block>
  </f7-block>

   <f7-block class="content-container">
    <f7-block class="content-two">
      <p>Amazing Tours</p>
      <span><div class="circle"> </div></span>
      <p>Partners</p>
      <span><div class="circle"> </div></span>
      <p>Happy Clients</p>
      <h1>Let Us Take Your Stress Away</h1>
    </f7-block>
  </f7-block>
  
  <f7-block class="content-container main-content">
    <f7-block class="content-three">
      <f7-block class="main-three content-three-left"></f7-block>
       <f7-block class="main-three content-three-right">
          <p><span>The Day Tour</span> Packages</p>
          <h1>Monte Carlo Resort</h1>
          <ul class=list-content>
  		      <li>Item one </li>
            <li>Item two </li>
            <li>Item three </li>
            <li>Item four</li>
            <li>Item five</li>
	        </ul>
          <f7-button outline class="button-two">View More</f7-button>
       </f7-block>
    </f7-block>
  </f7-block>

  <!-- <f7-block class="content-container">
    <f7-row no-gap class="content-four">
      <f7-col class="content-four-left">
        <p><span>The Night Tour</span> Packages</p>
        <h1>Monte Carlo Resort</h1>
        <ul>
          <li>Item one </li>
          <li>Item two </li>
          <li>Item three </li>
          <li>Item four</li>
          <li>Item five</li>
        </ul>
        <f7-col>
        <f7-button outline class="button-three">View More</f7-button>
      </f7-col>
      </f7-col>
      <f7-col class="content-four-right"></f7-col>
    </f7-row>
  </f7-block> -->
  
  <!-- <f7-block class="content-container">
    <f7-row no-gap class="content-five ">
      <f7-col class="content-five-left"></f7-col>
      <f7-col class="content-five-right">
        <p>Amazing Tour Packages</p>
        <h1>Dream Vacation</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, expedita voluptatibus harum vel maiores natus eius officia, obcaecati suscipit aliquam a ullam totam quam nemo, reiciendis omnis dolore non sit.
           nemo, reiciendis omnis dolore non sit.</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, </span><f7-link href="http://google.com" external>Learn More</f7-link></p>
        <f7-col>
        <f7-button outline class="button-two">View More</f7-button>
      </f7-col>
      </f7-col>
    </f7-row>
  </f7-block> -->

  <!-- <f7-block class="content-container">
    <f7-block class="content-two">
      <p>Did you Know?</p>
      <h1>10 Amazing Facts About The World</h1>
    </f7-block>
  </f7-block> -->

  <!-- <f7-block class="section-two content-container">
    <f7-block class="content-seven">
      <div class="main-content">
        <f7-row>
          <f7-col class="flex-container-left">
            <div><p><span class="text-flex">01.</span>France covers more time zones than any country on the planet.</p></div>
            <div><p><span class="text-flex">02.</span>Rice was used in the construction of the Great Wall of China. Resourceful</p></div>
            <div><p><span class="text-flex">03.</span>Good for the soul and the heart: Taking a vacation can lower your risk of heart disease.</p></div>
            <div><p><span class="text-flex">04.</span>Over 820 languages are spoken in Papua New Guinea, or 12% of the world’s total.</p></div>
            <div><p><span class="text-flex">05.</span> One-third of the world’s airports are located in the U.S.</p></div>
          </f7-col>
          <f7-col class="flex-container-center">
            <f7-col>
              <f7-button outline class="button-three">View More</f7-button>
            </f7-col>
          </f7-col>
          <f7-col class="flex-container-right">
            <div><p><span class="text-flex">06.</span>The Eiffel Tower is a daily place of work for 600 Parisians.</p></div>
            <div><p><span class="text-flex">07.</span>Mexico City is sinking by up to 15 inches a year in certain places.</p></div>
            <div><p><span class="text-flex">08.</span>Did you know, in Morocco, there are goats that regularly climb trees to have a meal?</p></div>
            <div><p><span class="text-flex">09.</span>Continents shift at about the same rate as your fingernails grow. Nailed it!</p></div>
            <div><p><span class="text-flex">10.</span>The northern hemisphere is home to 90% of the world’s population.</p></div>
          </f7-col>
        </f7-row>
      </div>  
    </f7-block>
  </f7-block> -->

  <!-- <f7-block class="content-container">
    <f7-block class="content-eight">
      <div class="main-content">
      <f7-row>
          <f7-col class="card-product">
            <f7-card class="card-text">
              <f7-card-header class="no-border-left" valign="bottom">Peek Mountian View</f7-card-header>
                <f7-card-content>
                  <p>LAS VEGAS, NEVADA</p>
                  <p>$ 199.95</p>
                  <f7-col>
                    <f7-button outline class="button-four">Book Now</f7-button>
                  </f7-col>
                </f7-card-content>
            </f7-card>
          </f7-col>
          <f7-col class="card-product">
            <f7-card class="card-text">
              <f7-card-header class="no-border-center" valign="bottom">Weekdays in Thailand</f7-card-header>
                <f7-card-content>
                  <p>PEELAMEDU, CBE, INDIA</p>
                  <p>$ 189.95</p>
                  <f7-col>
                    <f7-button outline class="button-four">Book Now</f7-button>
                  </f7-col>
                </f7-card-content>
            </f7-card>
          </f7-col>
          <f7-col class="card-product">
            <f7-card class="card-text">
              <f7-card-header class="no-border-right" valign="bottom">Hot Ballon Special Journey</f7-card-header>
                <f7-card-content>
                  <p>DPM, CBE, TALIMNADUDPM,</p>
                  <p>$ 169.95</p>
                  <f7-col>
                    <f7-button outline class="button-four">Book Now</f7-button>
                  </f7-col>
                </f7-card-content>
            </f7-card>
          </f7-col>
        </f7-row>
      </div>
    </f7-block>
  </f7-block> -->

  <!-- <f7-block class="section-three content-container">
    <f7-block class="content-nine">
      <div><p>What's the Different?</p></div>
      <div><h1>Good for you, good for your wallet.</h1></div>
    </f7-block>
    <f7-block class="content-ten">
      <div>
        <i class="fas fa-cloud"></i>
        <span>PERSONALIZED MATCHING</span>
        <p>We can provide up to 3 experienced travel specialists who fit best.</p>
      </div>
      <div>
        <i class="fas fa-cloud"></i>
        <span>HIGHLY QUALIFIED SERVICE</span>
        <p>Our high level of service is officially recognized by thousands of clients.</p>
      </div>
      <div>
        <i class="fas fa-cloud"></i>
        <span>24/7 SUPPORT</span>
        <p>Our travel agents are always there to support you during your trip.</p>
      </div>
      <div>
        <i class="fas fa-cloud"></i>
        <span>BEST PRICE GUARANTEE</span>
        <p>We guarantee you’ll get top-notch comfort at an affordable price.</p>
      </div>
      </f7-block>
  </f7-block> -->
  
  <!-- <f7-block class="content-container">
    <f7-block class="content-two">
      <p>Why They All Love Us</p>
      <h1>Real People, Real Result.</h1>
    </f7-block>
  </f7-block> -->

  <!-- <f7-block class="content-container">
    <f7-row no-gap class="content-eleven">
      <f7-col class="content-eleven-left">
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, expedita voluptatibus harum vel maiores natus eius officia, obcaecati suscipit aliquam a ullam totam quam nemo, reiciendis omnis dolore non sit.
           nemo, reiciendis omnis dolore non sit."</p>
        <p class="testi">Loren</p>
      </f7-col>
      <f7-col class="content-eleven-right"></f7-col>
    </f7-row>
  </f7-block> -->

  <!-- <f7-block class="content-container">
    <f7-block class="content-nine">
      <div><p>Be Inspired </p></div>
      <div><h1>Follow us on IG @journey</h1></div>
    </f7-block>
    <f7-block class="content-ten">
      <div class="image-one"></div>
      <div class="image-two"></div>
      <div class="image-three"></div>
      <div class="image-four"></div>
    </f7-block>
  </f7-block> -->

    <NewsLetterComponent></NewsLetterComponent>
    <FooterComponent></FooterComponent>
  </f7-page>
</template>

<script>
import { defineComponent, ref, computed } from "vue";
import NewsLetterComponent from "@/components/NewsLetterComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";
import HeaderComponent from "@/components/HeaderComponent.vue";
import { useStore } from "@/store";
export default defineComponent({
  name: "HomePage",
  components: {
    HeaderComponent,
    FooterComponent,
    NewsLetterComponent,
  },
  props: {f7router: Object},
  setup(props) {
    const store = useStore();
    const rate = ref(5);
    const currentLanguage = computed(() => store.getters["translation/getLanguage"]);
    const faqs = ref([
    {"title": `What are the fees?`, isClick: false, description: ` There is no set-up fee. You can connect with 2000+ retail stores immeditaely after account registration.`, id: 1},
    {"title": `How does it works?`, isClick: false, description: ` Supplier Register an account, start uploading your products in our backend with selling price, your products will be listed on our platform after review. Distributor Register an account, browsing our product catalog and choose the products and services that you need. We will handle the rest after your order has been placed.`, id: 2},
    {"title": `Hesitation on onshore and offshore funds issue?`, isClick: false, description: ` No worries, we handle both onshore and offshore funds for our suppliers and distributors.`, id: 3},
    {"title": `Who will handle the logistics?`, isClick: false, description: ` We provide logistics solutions both for cross border and general trade. Just click the button and let our team know when you check out.`, id: 4}
    ]);


    const showTab = (item) => {
      if (item.isClick) {
        item.isClick = false;
      }else{
        item.isClick = true;
      }
    }

    const gotoList = () => {
      props.f7router.navigate({ name: "productlist", params: {  } });
    }

    return {
      rate,
      faqs,
      showTab,
      currentLanguage,
      gotoList
    };
  },
});
</script>

<style>
/* .grid-demo div[class*="col"] {
    
    text-align: center;
    color: #000;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 16px;
    font-size: 12px;
  } */
  .grid-resizable-demo {
    --f7-grid-row-gap: 16px;
  }
  .grid-resizable-demo div[class*="col"] {
    margin-bottom: 0;
  }
  .grid-resizable-demo .demo-col-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
</style>
