<template>
  <f7-page class="marketplace-page main-view">
    <MarketPlaceComponent />

    <div class="marketplace-nav">
      <div class="container">
        <div class="logo-container">
          <img src="@/assets/images/logo.png" class="logomain" />
          <img src="@/assets/images/logo-mob.png" class="logosmall" />
        </div>
        <div class="input">
          <input type="text" name="" placeholder="Search for products and brands" />
          <f7-button large> <font-awesome-icon :icon="['far', 'search']" fixed-width /></f7-button>
        </div>
        <div class="button-container">
          <f7-button large> <font-awesome-icon :icon="['far', 'shopping-cart']" fixed-width /></f7-button>
        </div>
      </div>
    </div>

    <div class="categories-list">
      <div class="container">
        <ul>
          <li><f7-link>Categories</f7-link></li>
          <li><f7-link>Shipping</f7-link></li>
          <li><f7-link>Services</f7-link></li>
          <li><f7-link>Help</f7-link></li>
        </ul>
      </div>
    </div>

    <div class="main-banner">
      <div class="container">
        <div class="categories">
          <ul>
            <li><a href="#">Electronic Devices</a></li>
            <li><a href="#">Home Appliances</a></li>
            <li><a href="#">Health & Beauty</a></li>
            <li><a href="#">Groceries</a></li>
            <li><a href="#">Home & Living</a></li>
            <li><a href="#">Groceries</a></li>
            <li><a href="#">Home & Living</a></li>
            <li><a href="#">Groceries</a></li>
          </ul>
        </div>

        <f7-swiper pagination navigation class="banner-slider">
          <f7-swiper-slide>
            <img src="@/assets/images/distributor/MAIN-BANNER-A.png" />
          </f7-swiper-slide>
          <f7-swiper-slide>
            <img src="@/assets/images/distributor/MAIN-BANNER-B.png" />
          </f7-swiper-slide>
          <f7-swiper-slide>
            <img src="@/assets/images/distributor/MAIN-BANNER-C.png" />
          </f7-swiper-slide>
        </f7-swiper>

        <div class="policies">
          <div>
            <img src="@/assets/images/distributor/icons/delivery-truck.svg" />
            <p>Shipping Policy</p>
          </div>
          <div>
            <img src="@/assets/images/distributor/icons/box.svg" />
            <p>Return Policy</p>
          </div>
          <div>
            <img src="@/assets/images/distributor/icons/handshake.svg" />
            <p>Warranty</p>
          </div>
          <div>
            <img src="@/assets/images/distributor/icons/headphone.svg" />
            <p>24/7 Support</p>
          </div>
        </div>
      </div>
    </div>

    <div class="brands-container">
      <div class="container">
        <div class="title">
          <h1>Recommended Brands</h1>
          <f7-link>View All <font-awesome-icon :icon="['far', 'chevron-right']" fixed-width /></f7-link>
        </div>

        <div class="recommendedbrands-voucher">
          <div class="brands">
            <div class="brand">
              <img src="@/assets/images/distributor/LOGO1.jpg" />
            </div>
            <div class="brand">
              <img src="@/assets/images/distributor/LOGO2.jpg" />
            </div>
            <div class="brand">
              <img src="@/assets/images/distributor/LOGO3.jpg" />
            </div>
            <div class="brand">
              <img src="@/assets/images/distributor/LOGO4.jpg" />
            </div>
            <div class="brand">
              <img src="@/assets/images/distributor/LOGO5.jpg" />
            </div>
            <div class="brand">
              <img src="@/assets/images/distributor/LOGO6.jpg" />
            </div>
            <div class="brand">
              <img src="@/assets/images/distributor/LOGO7.jpg" />
            </div>
            <div class="brand">
              <img src="@/assets/images/distributor/LOGO8.jpg" />
            </div>
          </div>
          <div class="vouchers">
            <div class="voucher">
              <img src="@/assets/images/distributor/group86.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sales-container">
      <div class="container">
        <div class="salescard">
          <div class="title">
            <h1>Latest Product</h1>
            <f7-link>View All <font-awesome-icon :icon="['far', 'chevron-right']" fixed-width /></f7-link>
          </div>

          <div class="product-list">
            <div class="product">
              <div class="image">
                <img src="@/assets/images/products/1.png" />
              </div>
              <div class="content">
                <span class="new">NEW</span>
                <h4>Product Name</h4>
                <p>$9.99</p>
              </div>
            </div>
            <div class="product">
              <div class="image">
                <img src="@/assets/images/products/2.png" />
              </div>
              <div class="content">
                <span class="new">NEW</span>
                <h4>Product Name</h4>
                <p>$9.99</p>
              </div>
            </div>
            <div class="product">
              <div class="image">
                <img src="@/assets/images/products/3.png" />
              </div>
              <div class="content">
                <span class="new">NEW</span>
                <h4>Product Name</h4>
                <p>$9.99</p>
              </div>
            </div>
          </div>
        </div>

        <div class="salescard">
          <div class="title">
            <h1>Flash Sale</h1>
            <f7-link>View All <font-awesome-icon :icon="['far', 'chevron-right']" fixed-width /></f7-link>
          </div>

          <div class="product-list">
            <div class="product">
              <div class="image">
                <img src="@/assets/images/products/4.png" />
              </div>
              <div class="content">
                <span class="sale">SALE</span>
                <h4>Product Name</h4>
                <p>$9.99</p>
              </div>
            </div>
            <div class="product">
              <div class="image">
                <img src="@/assets/images/products/5.png" />
              </div>
              <div class="content">
                <span class="sale">SALE</span>
                <h4>Product Name</h4>
                <p>$9.99</p>
              </div>
            </div>
            <div class="product">
              <div class="image">
                <img src="@/assets/images/products/6.png" />
              </div>
              <div class="content">
                <span class="sale">SALE</span>
                <h4>Product Name</h4>
                <p>$9.99</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="recommendedbrands-container">
      <div class="container">
        <div class="salescard">
          <div class="title">
            <h1>Recommended Brands</h1>
            <f7-link>View All <font-awesome-icon :icon="['far', 'chevron-right']" fixed-width /></f7-link>
          </div>

          <div class="brands">
            <div v-for="image in 8" :key="'br_' + image" class="brand">
              <div class="content">
                <h4>Beauty Products</h4>
                <p>Lorem ipsum dolor sit amet contesn aslkasu.</p>
              </div>
              <div class="image">
                <img :src="require('@/assets/images/products/' + image + '.png')" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-sale-container">
      <div class="container">
        <div class="banner">
          <img src="@/assets/images/distributor/BANNER-SALE.png" />
        </div>
        <div class="banner">
          <img src="@/assets/images/distributor/Group87.png" />
        </div>
        <div class="banner">
          <img src="@/assets/images/distributor/Group87.png" />
        </div>
        <div class="banner">
          <img src="@/assets/images/distributor/BANNER-SALE.png" />
        </div>
      </div>
    </div>

    <div class="recommendedforyou-container">
      <div class="container">
        <div class="title">
          <h1>Recommended For You</h1>
          <f7-link>View All <font-awesome-icon :icon="['far', 'chevron-right']" fixed-width /></f7-link>
        </div>

        <div class="product-list">
          <div v-for="image in 20" :key="'rpr_' + image" class="product">
            <div class="image">
              <img :src="require('@/assets/images/products/' + ((image % 10) + 1) + '.png')" />
            </div>
            <div class="content">
              <span class="sale">SALE</span>
              <h4>Product Name</h4>
              <p>$9.99</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-sale-container">
      <div class="container">
        <div class="banner">
          <img src="@/assets/images/distributor/45.png" />
        </div>
        <div class="banner">
          <img src="@/assets/images/distributor/46.png" />
        </div>
      </div>
    </div>

    <div class="policy-container">
      <div class="container">
        <div class="policy">
          <div class="image">
            <img src="@/assets/images/distributor/icons/delivery-truck.svg" />
          </div>
          <h4>Shipping Policy</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="policy">
          <div class="image">
            <img src="@/assets/images/distributor/icons/box.svg" />
          </div>
          <h4>Return Policy</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="policy">
          <div class="image">
            <img src="@/assets/images/distributor/icons/handshake.svg" />
          </div>
          <h4>Warranty</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="policy">
          <div class="image">
            <img src="@/assets/images/distributor/icons/headphone.svg" />
          </div>
          <h4>24/7 Support</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
    </div>

    <NewsLetterComponent />
    <FooterComponent />
  </f7-page>
</template>

<script>
import { defineComponent, ref, reactive, computed, onMounted } from "vue";
import NewsLetterComponent from "@/components/NewsLetterComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";
import MarketPlaceComponent from "@/components/MarketPlaceHeaderComponent.vue";

export default defineComponent({
  name: "MarketPlacePage",
  components: {
    MarketPlaceComponent,
    NewsLetterComponent,
    FooterComponent,
  },
  setup() {
    return {};
  },
});
</script>
