<template>
  <f7-page class="product-lists-page main-view">
    <HeaderComponent></HeaderComponent>
    <div class="container" style="padding-top:60px;">
        <f7-row>
          <f7-col width="100" class="hidden-md-and-up" style=" padding: 20px;">
              <div class="list-categories">
                  <div class="cate-header">
                    <h4>{{ $t.getTranslation("LBL_BEST_SELLERS") }}</h4>
                    <a href="javascript:;">{{ $t.getTranslation("LBL_SELL") }} </a>
                  </div>

                   <div style="padding-left:15px;">
                      <f7-swiper :slidesPerView="4" :space-between="80">
                      <f7-swiper-slide>
                        <f7-col class="cate-cont"  @click="filter('')">
                           <div class="cate-icon" :style="{ 'background-image' : 'url('+ require('@/assets/images/categories/no-image.png') +')' }"></div>
                          <p class="cat-title">{{ $t.getTranslation("LBL_ALL") }}</p>
                        </f7-col>
                      </f7-swiper-slide>
                      <f7-swiper-slide v-for="cat in categories" :key="cat.Category" >
                        <f7-col class="cate-cont" @click="filter(cat.Category)">
                          <div class="cate-icon" :style="{ 'background-image' : 'url('+ require('@/assets/images/categories/no-image.png') +')' }"></div>
                          <p class="cat-title">{{ cat.Category }}</p>
                        </f7-col>
                      </f7-swiper-slide>
                      <!-- <f7-swiper-slide>
                        <f7-col class="cate-cont">
                           <div class="cate-icon" :style="{ 'background-image' : 'url('+ require('@/assets/images/categories/2.jpg') +')' }"></div>
                          <p class="cat-title">Home Appliances</p>
                        </f7-col>
                      </f7-swiper-slide>
                      <f7-swiper-slide>
                        <f7-col class="cate-cont">
                           <div class="cate-icon" :style="{ 'background-image' : 'url('+ require('@/assets/images/categories/3.jpg') +')' }"></div>
                          <p class="cat-title">Health & Beauty</p>
                        </f7-col>
                      </f7-swiper-slide>
                      <f7-swiper-slide>
                        <f7-col class="cate-cont">
                           <div class="cate-icon" :style="{ 'background-image' : 'url('+ require('@/assets/images/categories/4.jpg') +')' }"></div>
                          <p class="cat-title">Groceries</p>
                        </f7-col>
                      </f7-swiper-slide>
                      <f7-swiper-slide>
                        <f7-col class="cate-cont">
                           <div class="cate-icon" :style="{ 'background-image' : 'url('+ require('@/assets/images/categories/5.jpg') +')' }"></div>
                          <p class="cat-title">Home & Living</p>
                        </f7-col>
                      </f7-swiper-slide>

                       <f7-swiper-slide>
                        <f7-col class="cate-cont">
                          <div class="cate-icon" :style="{ 'background-image' : 'url('+ require('@/assets/images/categories/1.jpg') +')' }"></div>
                          <p class="cat-title">Electronic Devices</p>
                        </f7-col>
                      </f7-swiper-slide> -->
                    </f7-swiper>
                    </div>
                 
              </div>
          </f7-col>


          <f7-col width="80" class="full-width-mobile" style="margin-left:auto;">
              <div class="filter-container">
                <div class="filter">
                  <a href="" class="active">{{ $t.getTranslation("LBL_SELL") }}</a>
                  <a href="">{{ $t.getTranslation("LBL_BEST_SELLERS") }}</a>
                </div>

                <!-- <div class="price-filter hidden-md-and-up" style="margin-top:0px;max-width:170px;">
                  <el-input placeholder="Min" v-model="min"></el-input>
                  <span>-</span>
                  <el-input placeholder="Max" v-model="max"></el-input>
                </div> -->

                <!-- <div class="filter hidden-sm-and-down">
                  <label>Sort By</label>
                  <el-select v-model="sort" placeholder="Sort By">
                    <el-option>Price</el-option>
                  </el-select>
                </div> -->
              </div>
          </f7-col>
        </f7-row>

        <f7-row>
          <f7-col width="20" class="hidden-sm-and-down">

            <div class="b-t">
              <h2>{{ $t.getTranslation("LBL_CATEGORIES") }}</h2>
              <ul class="product-category-list-ul">
              <li><a href="javascript:;" @click="filter()">{{ $t.getTranslation("LBL_ALL") }}</a></li>
              <li v-for="cat in categories" :key="cat.Category" @click="filter(cat.Category)"><a href="javascript:;">{{ cat.Category }}</a></li>
               <!--  <li><a href="">Home Appliances</a></li>
                <li><a href="">Health & Beauty</a></li>
                <li><a href="">Groceries</a></li>
                <li><a href="">Home and Living</a></li> -->
              </ul>
              
            </div>

            <!-- <div class="b-t n-b-t">
              <h2>{{ $t.getTranslation("LBL_PRICE") }}</h2>
              <div class="price-filter">
                <el-input :placeholder="$t.getTranslation(`LBL_MIN`)" v-model="min"></el-input>
                <span>-</span>
                <el-input :placeholder="$t.getTranslation(`LBL_MAX`)" v-model="max"></el-input>
              </div>
            </div> -->

          </f7-col>

          <f7-col width="80" class="full-width-mobile">

            <div class="prod-box-container">
              <div class="prod-box-cont" v-for="item in products" :key="item.ProductKey">
           

                  <div v-if="item.ProductImage.length > 0" class="prod-image" :style="{ 'background-image' : 'url('+ item.ProductImage[0].FilePath +')' }"></div>
                  <div v-else class="prod-image" :style="{ 'background-image' : 'url('+ require('@/assets/images/no-product.png') +')' }"></div>


                  <div class="deal-content-name">
                    <p style="font-weight: bold;">{{ item.Name || item.Barcode }}</p>
                  </div>

                  <div class="deal-content-name">
                   <!--  <p>{{ item.Description || "No description" }}</p> -->
                  </div>

                  <div class="button-common" @click="signIn()">{{ $t.getTranslation("LBL_SIGN_IN_TO_SEE_MORE_DETAILS") }}</div>
              </div>
            </div>


            <div class="pagination-container" v-if="!(page < 1 || page == totalpage)">
               <a href="javascript:;" @click="loadMoreData()" class="button-common">{{ $t.getTranslation("LBL_LOAD_MORE") }}</a>
            </div>


          </f7-col>
        </f7-row>
    </div>


 

    <NewsLetterComponent></NewsLetterComponent>
    <FooterComponent></FooterComponent>
  </f7-page>
</template>

<script>
import { defineComponent, ref, reactive, computed, onMounted } from "vue";
import NewsLetterComponent from "@/components/NewsLetterComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";
import HeaderComponent from "@/components/HeaderComponent.vue";
import { $HTTP } from "@/utils/axios";
export default defineComponent({
  name: "ProductsPage",
  components: {
    HeaderComponent,
    FooterComponent,
    NewsLetterComponent,
  },
  setup() {
    let products = ref([]);
    let sort = ref(null);
    let min = ref(null);
    let max = ref(null);
    let categories = ref([]);
    const page = ref(1);
    const size = ref(8);
    const hitstotal = ref(0);
    const totalpage = ref(0);
    const currentpage = ref(0);
    const loadmore = ref(0);
    const signInLink = 'https://www.gojjx.com/login';
    
    const productList = async function (currentPage, perPage, category) {
      let list = await $HTTP.get(`/product/list?Page=${currentPage}&Size=${perPage}&CultureCode=EN&Category=${category || ''}`);
      hitstotal.value = list.data.data.HitsTotal;
      totalpage.value = list.data.data.PageTotal;
      list = list.data.data.PageData;
      loadmore.value = page.value;
      for (var i = 0; i < list.length; i++) {
        list[i].ishover = false;
        products.value.push(list[i]);
      }
    };

    const categoryList = async function () {
      let list = await $HTTP.get(`/category/list`);
      categories.value = list.data.data;
    };

    const handleCurrentChange = function (val) {
      productList(val, size.value);
    };

    const loadMoreData = async function () {
      page.value = page.value + 1;
      await productList(page.value, size.value);
    };

    const filter = async function (category) {
      products.value = [];
      page.value = 1;
      await productList(page.value, size.value, category);
    };

    const signIn = function(){
      window.open(signInLink, '_blank');
    }

    onMounted(async () => {
      await productList(page.value, size.value);
      await categoryList();
    });

    return {
      products,
      page,
      size,
      totalpage,
      hitstotal,
      currentpage,
      handleCurrentChange,
      loadMoreData,
      min,
      max,
      sort,
      signIn,
      categories,
      filter
    };
  },
});
</script>

<style>


.filter-container{
  display: flex;
  justify-content: space-between;
}
.price-filter{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.el-input input{
background: #fff;
    border: 1px solid #e4e7ed;
    padding: 15px;
    border-radius: 10px;
}
.n-b-t{
  border-top:0px;
}

.cate-cont{
 /* padding-right:10px;*/
/* padding:20px;*/
}

.cate-icon{
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.b-t{
  border-top:1px solid #e4e7ed;
  border-bottom:1px solid #e4e7ed;
  padding:20px;
}

.product-category-list-ul {
  list-style: none;
  margin-left: 0px;
  padding: 0px;
}

.product-category-list-ul > li > a {
  color: #000;
  opacity: 0.7;
}
.product-category-list-ul > li ::placeholder {
  color: #000;
  opacity: 1;
}

.pagination-container{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom:50px;
}
.load-more {
  background: #5633c1;
  padding: 3px 3px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

 .prod-image{
  width:100%;
  padding-top:100%;

  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom:10px;
 }


 .list-categories{
  background-color:#fff;
 }
  .cate-header{
    border-bottom: 1px solid #e4e7ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    margin-bottom: 15px;
  }

  .cate-header h4{
   margin:0px;
  }

  .cate-header a{
    color:#222;
  }

 .prod-box-container{
  display: flex;
  flex-wrap:wrap;
  gap:12px;
  margin-bottom:50px;
 }

.best-seller-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .product-lists-page{
    background: #f5f5f5;
  }
  .prod-box-cont{
    width: 28%;
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding:20px;
    cursor: pointer;
  }

  .prod-box-cont:hover{
      -webkit-box-shadow: -2px 10px 30px -2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -2px 10px 30px -2px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 10px 30px -2px rgba(0, 0, 0, 0.19);
  }

  .prod-box-cont p{
    margin:0px;
  }

  .prod-box{
    position: relative;
  }

  .filter{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
        align-items: center;
  }
  .filter label{
    color:#222;
    font-weight: bold;
    font-size:15px;
  }
  .filter a{
    color:#949494;
    font-weight: bold;
    font-size:15px;
  }
  .filter a.active{
    color:#5633c1;
  }

  .cat-title{
    font-size:12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }

  .prod-box-cont .button-common{
    position: absolute;
    bottom:-20px;
    z-index:9999;
    left:0px;
    width: 100%;
    padding-left:0px;
    padding-right:0px;

    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: none;

         -webkit-box-shadow: -2px 10px 30px -2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -2px 10px 30px -2px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 10px 30px -2px rgba(0, 0, 0, 0.19);
  }

  .prod-box-cont:hover .button-common{
    display: block;
  }


  @media (max-width: 992px) {
  .full-width-mobile{
    width: 100% !important;
    padding: 20px;
  }

  .full-width-mobile .prod-box-cont{
    width: 35% !important;
  }

  .prod-box-container{
    justify-content: space-between;
  }

  .filter{
    margin-bottom:0px;
  }
}

</style>
