<template>
  <f7-page class="splash-page main-view">
    <div class="container">
      <div class="splash-content">
        <img src="@/assets/images/logo.png" class="logo" />

        <div class="contents">
          <h1>{{ $t.getTranslation("LBL_SPLASH_TITLE") }}</h1>
          <p>{{ $t.getTranslation("LBL_SPLASH_DESCRIPTION") }}</p>
        </div>
        <div class="button-containers">
          <a href="#" class="button distributor">{{ $t.getTranslation("LBL_DISTRIBUTOR") }}</a>
          <a href="#" class="button supplier">{{ $t.getTranslation("LBL_SUPPLIER") }}</a>
        </div>
      </div>
    </div>
  </f7-page>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "SplashPage",
  components: {},
  setup() {
    return {};
  },
});
</script>

<style>
.splash-page {
  background: url("../assets/images/home.png") no-repeat center;
  background-size: cover;
}
.splash-page .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.splash-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.splash-content img.logo {
  width: 280px;
  margin-bottom: 40px;
}
.splash-content .contents h1 {
  font-size: 38px;
  font-weight: 700;
}
.splash-content .contents p {
  font-size: 18px;
  width: 50ch;
  margin: 20px auto 30px;
  line-height: 1.8em;
  padding: 0px;
}
.splash-content .button-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.splash-content .button-containers a.button {
  padding: 20px 40px;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 180px;
}
a.button.distributor {
  background: #5633c1;
  margin-right: 10px;
}
a.button.supplier {
  background: #ff663c;
}
@media only screen and (max-width: 700px) {
  .splash-page {
    background: url("../assets/images/home-mobile.jpg") no-repeat center;
    background-size: cover;
  }
  .splash-content .contents h1 {
    font-size: 28px;
  }
  .splash-content .contents p {
    font-size: 14px;
  }
  .splash-content .button-containers {
    flex-direction: column;
  }
  .splash-content .button-containers a.button {
    min-width: 240px;
    padding: 25px 40px;
  }
  a.button.distributor {
    margin: 0px 0px 10px;
  }
}
@media only screen and (max-width: 400px) {
  .splash-content img.logo {
    width: 220px;
  }
  .splash-content .contents h1 {
    font-size: 22px;
  }
  .splash-content .contents p {
    font-size: 13px;
    width: 40ch;
  }
}
</style>
