<template>
  <f7-page class="product-lists-page main-view">
    <HeaderComponent></HeaderComponent>
    <div class="parent main-view agreement" style="margin-top-top:60px;padding: 5px 5px;">
      <div class="container">
        <UserAgreementComponent></UserAgreementComponent>
      </div>
    </div>
    
    
    <NewsLetterComponent></NewsLetterComponent>
    <FooterComponent></FooterComponent>
  </f7-page>
</template>

<script>
import { defineComponent, ref, reactive, computed, onMounted } from "vue";
import NewsLetterComponent from "@/components/NewsLetterComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";
import HeaderComponent from "@/components/HeaderComponent.vue";
import UserAgreementComponent from "@/components/UserAgreementComponent.vue";
import { $HTTP } from "@/utils/axios";
export default defineComponent({
  name: "ProductsPage",
  components: {
    HeaderComponent,
    FooterComponent,
    NewsLetterComponent,
    UserAgreementComponent
  },
  setup() {


    return {

    };
  },
});
</script>

<style>
  @media (max-width: 375px) {
    .agreement{
      margin-top: 80px;
      padding: 10px 10px;
    }
  }
</style>
