<template>
 
 <div class="footer-container">
    <div>
      <div class="logo">
      <img src="@/assets/images/logo.png">
    </div>
  </div>
  <div>
    <h2>Quick Links</h2>
    <ul class="list-text">
      <li>Home</li>
      <li>Products</li>
      <li>How it Works</li>
      <li>FAQ</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div>
    <h2>Packages</h2>
    <ul class="list-text">
      <li>The Day Tour</li>
      <li>The Night Tour</li>
      <li>Amazing Tour Packages</li>
    </ul>
  </div>
  <div>
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>

</template>

<script>
export default {
  name: "FooterComponent",
  components: {},
  data() {
    return {};
  },
};
</script>

<style scoped>

</style>

