<template>

<div class="header-container">
 
 <div class="test1">
	 <ul>
		<li><a class="active" href="#home">Home</a></li>
		<li><a href="#news">Products</a></li>
		<li><a href="#contact">How it Works</a></li>
		<li><a href="#about">FAQ</a></li>
		<li><a href="#about">Contact Us</a></li>
	</ul>
 </div>
 <div class="test2">
	<div class="logo">
		<img src="@/assets/images/logo.png">
	</div>
 </div>
 <div class="test3">
	 <ul>
		<li><a class="active" href="#home">Login</a></li>
		<li><a href="#news">Shopping Bag</a></li>
	</ul>
 </div>
</div>
     

</template>

<script>
import { defineComponent, ref, onMounted, computed } from "vue";
import { useStore } from "@/store";
export default {
  name: "HeaderComponent",
  components: {},
  props: {f7router: Object},
  setup(props){
  	const store = useStore();
  	const signInLink = 'https://www.gojjx.com/login';
    const signUpLink = 'https://www.gojjx.com/register';
  	const currentLanguageCode = computed(() => store.getters["translation/getLanguage"]);
    const languageList = computed(() => store.getters["config/getData"]?.languageList);
    let select_language = ref(null);
    const isShow = ref(false);
  	const changeLanguage = (languageCode) => {
      store.dispatch("translation/setLanguage", { languageCode });
      store.dispatch("translation/fetchData", { force: true });
      //window.location.reload();
    };

    const signIn = function(){
      window.open(signInLink, '_blank');
    }

    const jjxredirect = () => {
    	window.open('https://www.gojjx.com/register', '_blank');
    }

    const productRedirect = () => {
    	window.open('https://www.gojjx.com/productlist');
    }

    const showMenu = () => {
    	if (isShow.value) {
    		isShow.value = false;
    	}else{
    		isShow.value = true;
    	}
    }

    const home = () => {
    	props.f7router.navigate({ name: "home", params: {  } });
    }

    return {
    	currentLanguageCode,
    	changeLanguage,
    	languageList,
    	select_language,
    	signIn,
    	jjxredirect,
    	showMenu,
    	isShow,
    	home,
    	productRedirect
    }
  }
  
};
</script>

<style>

.logo img {
    width: 6em;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: -35px;
}

.hearder-container > .test1 {
  text-align: left;
  font-size: 15px;
  margin: 10px;
}

.header-container > .test2 {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.header-container > .test3 {
  text-align: right;
  font-size: 15px;
  margin: 10px;
}
.test1{
	flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.test2{
	flex-grow: 1;
}

.test3{
	flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 12px;
}

li a:hover {
  background-color: lime;
}	

</style>
