<template>
   <div class="marketplace-top-header">
		<div style="flex-grow:3;">
			<ul>
				<li>Seller Centre</li>
				<li>Customer Service</li>
				<li>Download App</li>
			</ul>
		</div>
		<div>
			<ul class="lang-selector">
				<li>Language</li>
				<li class="active">Login</li>
				<li class="active">Signup</li>
			</ul>
		</div>
	</div>
</template>

<script>

export default {
  name: "MarketPlaceHeader",
  components: {},
  data() {
    return {};
  },
};
</script>

<style type="">
	.lang-selector{
		display: flex;
	}
</style>