<template>
  <div class="marketplace-top-header">
    <div class="container">
      <ul>
        <li>
          <f7-link>Seller Centre <font-awesome-icon :icon="['far', 'chevron-down']" fixed-width /></f7-link>
        </li>
        <li>
          <f7-link>Customer Service <font-awesome-icon :icon="['far', 'chevron-down']" fixed-width /></f7-link>
        </li>
        <li>
          <f7-link>Download App <font-awesome-icon :icon="['far', 'chevron-down']" fixed-width /></f7-link>
        </li>
      </ul>
      <ul>
        <li>
          <f7-link>Language <font-awesome-icon :icon="['far', 'chevron-down']" fixed-width /></f7-link>
        </li>
        <li class="active"><f7-link>{{ $t.getTranslation("LBL_LOGIN") }}</f7-link></li>
        <li class="active"><f7-link>{{ $t.getTranslation("LBL_SIGNUP") }}</f7-link></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "MarketPlaceHeaderComponent",
  components: {},
  data() {
    return {};
  },
};
</script>
