<template>
  <div class="newsletter">
    <div class="container">
      <div class="content">
        <h1>{{ $t.getTranslation("LBL_STAY_UPDATED") }}</h1>
        <!-- <p>Subscribe to receive news on latest compaigns, promotions and learninng to grow your business</p> -->
      </div>

      <div class="input">
        <input type="text" name="" :placeholder="$t.getTranslation('LBL_EMAIL_ADDRESS')" v-model="formData.Email" />
        <button @click="sendEmail" :disabled="isProcessing"><img src="@/assets/images/icons/send.png" /></button>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, reactive } from "vue";
import { $HTTP } from "@/utils/axios";
import { helpers } from "@/utils/helpers";
export default {
  name: "NewsLetterComponent",
  components: {},
  setup() {

    const formData = reactive({
      Email: ""
    });

    const isProcessing = ref(false);
    const sendEmail = async() => {
      try{

        let checkEmail = helpers.isEmailValid(formData.Email);
        console.log(checkEmail)
        if (!checkEmail) {
          //throw new Error($t.getTranslation("ERR_SERVER_NOT_RESPONDING"));
          throw new Error('Email is not valid');
          return;
        }

        if(isProcessing.value){
          return true;
        }

        isProcessing.value = true;
        let send = await $HTTP.post(`/newsletter/subscribe`, formData);
        if (send && send.data.data) {
          isProcessing.value = false;
          formData.Email = "";
          helpers.createNotification({
            type: 'success',
            title: 'Success!',
            message: 'Successfully subscribe'
          });
        }
      }catch(err){
         isProcessing.value = false;
         helpers.catchError(err, true);
      }
     
    }

    return {
      sendEmail,
      formData,
      isProcessing
    };
  },
};
</script>

<style>
.newsletter {
  background: url("../assets/images/newsletter.svg") repeat center;
  --f7-input-outline-focused-border-color: transparent;
  --f7-input-focused-border-color: transparent;
}
.newsletter .container {
  background: transparent;
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.newsletter .container h1 {
  font-size: 26px;
  margin-bottom: 20px;
}
.newsletter .container p {
  width: 40ch;
  font-size: 14px;
  line-height: 1.8em;
  margin: 0px;
  padding: 0px;
}
.newsletter .container .input {
  display: flex;
  width: 50%;
  flex-direction: row;
}
.newsletter .container .input input {
  padding: 15px 25px;
  font-size: 18px;
  outline: none;
  background: #9778f7;
  border-radius: 10px 0px 0px 10px;
}
.newsletter .container .input ::placeholder {
  color: #fff;
  opacity: 1;
}
.newsletter .container .input button {
  background: #fff;
  border: 0px;
  outline: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  width: 80px;
  transition: all 0.3s ease-out;
  position: relative;
}
.newsletter .container .input button img {
  width: 20px;
}
.newsletter .container .input button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 1100px) {
  .newsletter .container {
    width: calc(100% - 80px);
    margin: 0 auto;
    position: relative;
    padding: 50px 40px;
  }
}
@media only screen and (max-width: 700px) {
  .newsletter .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .newsletter .container p {
    width: 35ch;
  }
  .newsletter .container .input {
    width: 100%;
    margin-top: 30px;
  }
}
</style>
