<template>
 	
 	<h1 class="center">聚嘉选服务条款</h1>

 	<p>版本日期：2021 年 4 月 1 日</p>
 	<p>欢迎“您”（以下或称“用户”）的注册並与“聚嘉选”（下称“聚嘉选” 或称“JJX”）共同
签署本平台《服务条款》协议（下称“本协议”），本协议阐述之条款和条件适用于您使用聚
嘉选基于互联网，以包含聚嘉选网站、客户端等在内的各种形态（包括未来技术发展出现的新
的服务形态）向您提供的各项服务。</p>

	<p class="title-header">一、接受协议</p>

	<ul class="no-list">
		<li>1.1 本协议内容包括协议正文及所有聚嘉选已经发布或将来可能发布并采取合理途径通知的各
	类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。
	</li>
		<li>
			1.2 您在点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内
容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将
以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可登录聚嘉选服务中心咨询聚嘉
选客服
		</li>
		<li>
			1.3 当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序，或以任何方式进
入聚嘉平台并使用服务即表示您已充分阅读、理解并同意接受本协议的条款和条件。阅读本协
议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序并停止使用服
务。
		</li>
	</ul>

	<p class="title-header">二、 协议范围</p>

	<ul class="no-list">
		<li>2.1 签约主体 本协议由您与聚嘉选共同缔结，本协议对您与聚嘉选具有同等合同效力。</li>
		<li>2.2 补充协议
由于互联网高速发展，您与聚嘉选签署的本协议列明的条款并不能完整罗列并覆盖您与聚嘉选
所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，聚嘉选 法律声明、
隐私政策、聚嘉选平台规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力。
如您使用聚嘉选服务，视为您同意上述补充协议。</li>
	</ul>

	<p class="title-header">三、账户注册与使用</p>

	<ul class="no-list">
		<li>3.1 用户资格</li>
		<ul class="no-list">
			<li>3.1.1 您确认，在您完成注册程序或以其他聚嘉选允许的方式实际使用服务时，您应当具备中华
人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民
事行为能力，则您及您的监护人应依照法律规定承担因此而导致的相应后果，且聚嘉选有权终
止向您提供服务并注销您的账户。如您代表一家公司或其他法律主体在聚嘉选平台注册，则您
声明和保证，您有权使该公司或该法律主体受本协议的约束。</li>
			<li>
				3.1.2 此外，您还需确保您不是任何国家、国际组织或者地域实施的贸易限制、制裁或其他法
律、规则限制的对象，否则您可能无法正常注册及使用服务。
			</li>
		</ul>
		<li>3.2 账户注册</li>
		<ul class="no-list">
			<li>
				3.2.1 在您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照
激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以其他聚嘉选允许的
方式实际使用聚嘉选服务时，您即受本协议的约束。您可以使用您提供或确认的邮箱、手机号
码或者聚嘉选允许的其它方式作为登录手段进入聚嘉选平台。
			</li>
			<li>
				3.2.2 由于您的账户关联您的信息及聚嘉选平台商业信息，您的账户仅限您本人使用。未经聚嘉
选同意，您直接或间接授权第三方使用您账户或获取您账户项下信息的行为无效。如聚嘉选根
据您账户的使用行为等情况判断您账户的使用可能危及您的账户安全及/或聚嘉选平台信息安全
的，聚嘉选可拒绝提供相应服务或终止本协议。
			</li>
		</ul>
		<li>3.3 账户转让 由于用户账户关联用户信用信息，仅当有法律明文规定、司法裁定或经聚嘉选同意，并符合聚
嘉选平台规则规定的账户转让流程的情况下，您可进行账户的转让。您的账户一经转让，该账
户项下权利义务一并转移。除此外，您的账户不得以任何方式转让，否则聚嘉选有权追究您的
违约责任，且由此产生的相应责任均由您承担。</li>
		<li>3.4 实名认证 为使您更好地使用聚嘉选平台的各项服务，保障您的账户安全，聚嘉选可要求您按国家法律法
规的规定完成实名认证。</li>
		<li>
			3.5 不活跃账户回收
如您的账户同时符合以下条件，您的聚嘉选登录名可能被注销，不能再登陆任一平台，所有聚
		</li>
		<li>嘉选平台服务将同时终止:</li>
		<ul class="no-list">
			<li>（一）未按照国家相关法律法规以及聚嘉选要求通过实名认证；</li>
			<li>（二）连续 6 个月未使用您的邮箱、手机或聚嘉选认可的其他方式和密码登录过聚嘉选平台 也未登录过其他任一聚嘉选平台</li>
			<li>（三）不存在未到期的有效业务。</li>
		</ul>
		<li>3.6 注册信息管理</li>
		<ul class="no-list">
			<li>3.6.1 在完成注册或激活流程时，您应当按聚嘉选平台相应页面的提示准确完整地提供并及时更
新您的信息，以使之始终保持真实、及时，完整和准确。在国家法律法规有明确规定要求聚嘉
选作为平台服务提供者必须对用户（如卖家等）的信息进行核实的情况下，聚嘉选将依法不时
地对您的信息进行检查核实，您应当配合提供最新、真实、完整、有效的信息</li>
			<li>3.6.2 如聚嘉选按您最后一次提供的信息与您联系未果、您未按聚嘉选的要求及时提供信息、您
提供的信息存在明显不实或行政司法机关核实您提供的信息无效的，您将承担因此对您自身、
他人及聚嘉选造成的全部损失与不利后果。聚嘉选可向您发出询问或要求整改的通知，并要求
您进行重新认证，直至中止、终止对您提供部分或全部聚嘉选服务，除法律明确规定外聚嘉选
对此不承担责任</li>
			<li>
				3.6.3 您设置的账户登录名及昵称不得违反国家法律法规及聚嘉选平台规则的相应管理规定，否
则聚嘉选可回收您的登录名及昵称，并按聚嘉选平台规则进行相应的处理
			</li>
		</ul>
		<li>3.7 账户安全</li>
		<ul class="no-list">
				<li>3.7.1 您的账户为您自行设置并由您保管，聚嘉选任何时候均不会主动要求您提供您的账户密
码。因此，建议您务必保管好您的账户，并确保您在每个上网时段结束时退出登录并以正确步
骤离开聚嘉选平台。账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，
聚嘉选并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿</li>
				<li>
					3.7.2 除聚嘉选存在过错外，您应对您账户项下的所有行为结果（包括但不限于在线签署各类协
议、发布信息、询/报价、采购产品、订购服务及披露信息等）负责。
				</li>
				<li>
					3.7.3 如发现任何未经授权使用您账户登录聚嘉选平台或其他可能导致您账户遭窃、遗失的情
况，建议您立即通知聚嘉选，并授权聚嘉选将该信息同步给相关部门跟进。您理解聚嘉选对您
的任何请求采取行动均需要合理时间，且聚嘉选应您请求而采取的行动可能无法避免或阻止侵
害后果的形成或扩大，除聚嘉选存在法定过错外，聚嘉选不承担责任
				</li>
		</ul>
	</ul>

	<p class="title-header">四、服务及规范</p>

	<p>您有权在聚嘉选平台上享受产品管理、产品及/或服务的报价、销售与推广、产品及/或服务的
询价、采购与评价、交易争议处理等服务。聚嘉选提供的服务内容众多，具体您可登录聚嘉选
平台浏览。</p>

	<ul class="no-list">
		<li>4.1 产品管理</li>
		<ul class="no-list">
			<li>4.1.1 通过在聚嘉选平台创建账户，您可发布各类产品及/或服务信息，并与其他用户达成交
易</li>
			<li>4.1.2 由于账户与产品的不可分性，账户转让实质为注册者账户的转让，账户转让的相关要求与
限制请适用本协议 4.3 账户转让条款。</li>
			<li>4.1.3 如您通过下架全部产品短暂关停您的账户，您仍应当对您账户关停前已达成的交易继续承
担发货、纠纷及投诉处理等交易保障责任</li>
		</ul>
		    <li>
				4.2 产品及/或服务的报价、销售与推广
			</li>
			<ul class="no-list">
				<li>
					4.2.1 通过聚嘉选提供的服务，您有权通过文字、图片等形式在聚嘉选平台上发布产品及/或服
	务信息、进行报价、招揽和物色交易对象、达成交易
				</li>
				<li>
					4.2.2 您应当确保您对您在聚嘉选平台上发布的产品及/或服务享有相应的权利，您不得在聚嘉
	选平台上销售以下产品及/或提供以下服务
				</li>
				<ul class="no-list">
					<li>（一）国家禁止或限制的；</li>
					<li>（二）侵犯他人知识产权或其它合法权益的；</li>
					<li>（三）聚嘉选平台规则、公告、通知或各平台与您单独签署的协议中已明确说明不适合在聚嘉
	选平台上销售及/或提供的</li>
				</ul>
				<li>4.2.3 您应当遵守诚实信用原则，确保您所发布的产品及/或服务信息真实、与您实际所销售的
产品及/或提供的服务相符，并在交易过程中切实履行您的交易承诺。您应当维护聚嘉选平台良
性的市场竞争秩序，不得贬低、诋毁竞争对手，不得干扰聚嘉选平台上进行的任何交易、活
动，不得以任何不正当方式提升或试图提升自身的信用度，不得以任何方式干扰或试图干扰聚
嘉选平台的正常运作</li>
				<li>4.2.4 您有权自行决定产品及/或服务的促销及推广方式，聚嘉选亦为您提供了形式丰富的促销
推广工具。您的促销推广行为应当符合国家相关法律法规及聚嘉选平台的要求</li>
			<li>4.2.5 依法纳税是每一个公民、企业应尽的义务，您应对销售额/营业额超过法定免征额部分及
时、足额地向税务主管机关申报纳税</li>
			</ul>
		<li>
			4.3 产品及/或服务的询价、采购与评价
		</li>
		<ul class="no-list">
			<li>4.3.1 当您在聚嘉选平台询价、采购产品及/或服务时，请您务必仔细确认采购产品的品名、价
格、数量、型号、规格、尺寸或服务的时间、内容、限制性要求等重要事项，并在采购下单时
核实您的联系地址、电话、收货人等信息。如您填写的收货人非您本人，则该收货人的行为和
意思表示产生的法律后果均由您承担</li>
			<li>
				4.3.2 您充分了解并同意，聚嘉选平台是一个商业贸易采购平台，而并非面向消费者的消费购买
市场，故您的询价、采购行为应当基于真实的贸易需求，不得存在对产品及/或服务实施恶意询
价、采购、恶意维权等扰乱聚嘉选平台正常交易秩序的行为。基于维护聚嘉选平台交易秩序及
交易安全的需要，聚嘉选发现上述情形时可主动执行关闭相关交易订单等操作
			</li>
			<li>4.3.3 您有权在聚嘉选平台提供的评价系统中对与您达成交易的其他用户产品及/或服务进行评
价。您的所有评价行为应遵守聚嘉选平台规则的相关规定，评价内容应当客观真实，不应包含
任何污言秽语、色情低俗、广告信息及法律法规与本协议列明的其他禁止性信息；您不应以不
正当方式帮助他人提升信用或利用评价权利对其他用户实施威胁、敲诈勒索。聚嘉选可按照聚
嘉选平台规则的相关规定对您实施上述行为所产生的评价信息进行删除或屏蔽</li>
			<li>4.3.4 如您在聚嘉选平台询价、采购的产品及/或服务为用于对外出口的商品及/或服务：</li>
			<ul class="no-list">
				<li>4.3.4.1 您承诺遵守所有适用的进出口管制、贸易限制与经济制裁相关法律法规。 如您违反前述
承诺的，聚嘉选可在发现上述情形时停止提供相关服务</li>
				<li>4.3.4.2 您需确保您不是任何国家、地区或国际组织实施的贸易限制、经济制裁或其他法律法规
限制的对象，也未直接或间接为前述对象提供资金、商品或服务，否则您应当停止使用聚嘉选
提供的服务，同时您理解违反前述要求可能会造成您无法正常注册及使用聚嘉选服务</li>
			</ul>
			<li>4.3.5 针对通过聚嘉选平台取得的商品、服务、软件及技术，您承诺遵守所有适用的进出口管
制、贸易限制与经济制裁相关法律法规，包括联合国安全理事会、中国、美国及任何其他国家
制定并执行的制裁决议、法律法规。基于维护交易秩序及交易安全的需要，如您违反前述承诺
的，聚嘉选可在发现上述情形时终止服务及主动执行关闭相关交易订单及作出账户处置等操
作</li>
		</ul>
		<li>4.4 交易争议处理</li>
		<ul class="no-list">
			<li>4.4.1 您可通过聚嘉选平台所支持的交易方式与其他用户达成交易，并遵守相应交易与支付规
则。您理解并同意，聚嘉选平台仅作为用户物色交易对象，就产品和服务的交易进行协商，以
及获取各类与贸易相关的服务的地点，聚嘉选不会参与用户间的交易，亦不会涉及用户间因交
易而产生的法律关系及法律纠纷</li>
			<li>4.4.2 您在聚嘉选平台交易过程中与其他用户发生争议的，您或其他用户中任何一方均有权选择
以下途径解决</li>
			<ul class="no-list">
				<li>（一）与争议相对方自主协商；</li>
				<li>（二）使用聚嘉选平台提供的争议调处服务</li>
				<li>（三）向有关行政部门投诉；</li>
				<li>（四）根据与争议相对方达成的仲裁协议（如有）提请仲裁机构仲裁；</li>
				<li>（五）向人民法院提起诉讼。</li>
			</ul>
			<li>4.4.3 如您依据聚嘉选平台规则使用聚嘉选平台的争议调处服务，则表示您认可并愿意履行聚嘉
选平台的客服作为独立的第三方根据其所了解到的争议事实并依据聚嘉选平台规则所作出的调
处决定（包括调整相关订单的交易状态、判定将争议款项的全部或部分支付给交易一方或双
方、执行相应的保证金赔付等）。在聚嘉选平台调处决定作出前，您可选择上述其他争议处理
途径解决争议以中止聚嘉选平台的争议调处服务。如您对调处决定不满意，您仍有权采取其他
争议处理途径解决争议，但通过其他争议处理途径未取得终局决定前，您仍应先履行调处决
定</li>
		</ul>
	</ul>


	<p class="title-header">五、费用</p>

	<ul class="no-list">
		<li>5.1 聚嘉选为聚嘉选平台向您提供的服务付出了大量的成本，除聚嘉选平台明示的收费业务外，
聚嘉选向您提供的服务目前是免费的。如未来聚嘉选向您收取合理费用，聚嘉选会采取合理途
径并提前通过法定程序以本协议约定的有效方式通知您，确保您有充分选择的权利</li>
		<li>5.2 您因进行交易、向聚嘉选获取有偿服务或接触聚嘉选服务器而发生的所有应纳税赋，以及相
关硬件、软件、通讯、网络服务及其他方面的费用均由您自行承担。</li>
	</ul>

	<p class="title-header">六、责任限制</p>

	<ul class="no-list">
		<li>6.1 聚嘉选依照法律规定履行基础保障义务，但对于下述不可抗力或其他第三人因素原因导致的
合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，聚嘉选并不承担相应的违约责
任</li>
		<ul class="no-list">
			<li>（一）因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素</li>
			<li>（二）因电力供应故障、通讯网络故障等公共服务因素或第三人因素；</li>
			<li>（三）在聚嘉选已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、
网络信息与数据安全等因素</li>
		</ul>
		<li>
			6.2 聚嘉选仅向您提供本协议约定之服务，您了解聚嘉选平台上的信息系用户自行发布，且可能
存在风险和瑕疵。聚嘉选将通过依照法律规定建立相关检查监控制度尽可能保障您在聚嘉选平
台的合法权益及良好体验。同时，鉴于聚嘉选平台具备存在海量信息及信息网络环境下信息与
实物相分离的特点，聚嘉选作为网络交易平台无法逐一审查产品及/或服务的信息，无法逐一审
查交易所涉及的产品及/或服务的质量、安全以及合法性、真实性、准确性，对此您应谨慎判
断，如发现存在危害信息和行为，请您及时同聚嘉选进行联系和投诉，聚嘉选将对有害信息和
行为进行处理
		</li>
		<li>6.3 您理解并同意，在争议调处服务中，聚嘉选平台的客服并非专业人士，仅能以普通人的认
知对用户提交的凭证进行判断，聚嘉选不保证争议调处决定一定符合您的期望，除法律明确规
定及存在故意或重大过失外，聚嘉选对争议调处决定不承担责任</li>
	</ul>

	<p class="title-header">七、用户信息的保护及授权</p>

	<ul class="no-list">
		<li>7.1 个人信息的保护 聚嘉选非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保
护，在您使用聚嘉选提供的服务时，您同意聚嘉选按照在聚嘉选平台上公布的隐私政策收集、
存储、使用、披露和保护您的个人信息。聚嘉选希望通过隐私政策向您清楚地介绍聚嘉选对您
个人信息的处理方式，因此聚嘉选建议您完整地阅读隐私政策（点击此处或点击聚嘉选平台首
页底部链接），以帮助您更好地保护您的隐私权</li>
		<li>7.2 非个人信息的保证与授权</li>
		<ul class="no-list">
			<li>7.2.1 您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则，聚嘉选可对您发布的
信息依法或依本协议进行删除或屏蔽</li>
			<li>7.2.2 您应当确保您所发布的信息不包含以下内容</li>
			<ul class="no-list">
				<li>（一）违反国家法律法规禁止性规定的</li>
				<li>（二）政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</li>
				<li>（三）欺诈、虚假、不准确或存在误导性的；</li>
				<li>（四）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；</li>
				<li>（五）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；</li>
				<li>（六）存在可能破坏、篡改、删除、影响聚嘉选平台任何系统正常运行或未经授权秘密获取聚
嘉选平台及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的</li>
				<li>（七）其他违背社会公共利益或公共道德或依据相关聚嘉选平台协议、规则的规定不适合在聚
嘉选平台上发布的。</li>
			</ul>
			<li>7.2.3 对于您提供、发布及在使用聚嘉选服务中形成的除个人信息外的文字、图片、视频、音频
等非个人信息，均不会因您的上传、发布等行为发生知识产权、肖像权等权利的转移。除非聚
嘉选另行明确说明，在法律允许的范围和法律规定的保护期限内，您免费授予聚嘉选及其关联
公司、无地域限制的许可使用（包括存储、使用、复制、修订、编辑、发布、展示、翻译、分
发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳
入其它作品内等）权利及可再授权给其他第三方使用的权利，以及可以自身名义对第三方侵权
行为取证及提起诉讼的权利</li>
			<li>
				7.2.4 为方便您使用聚嘉选平台、支付平台等其他相关服务，您授权聚嘉选将您在账户注册和使
用聚嘉选服务过程中提供、形成的信息传递给聚嘉选平台、支付平台等其他相关服务提供者，
或从聚嘉选平台、支付平台等其他相关服务提供者获取您在注册、使用相关服务期间提供、形
成的信息
			</li>
		</ul>
	</ul>

	<p class="title-header">八、用户的违约及处理</p>

	<ul class="no-list">
		<li>8.1 违约认定</li>
		<ul class="no-list">
			<li>发生如下情形之一的，视为您违约：</li>
			<ul class="no-list">
				<li>（一）使用聚嘉选服务时违反有关法律法规规定的；</li>
				<li>（二）违反本协议或本协议补充协议（即本协议第 3.2 条）约定的。</li>
				<li>为适应电子商务发展和满足海量用户对高效优质服务的需求，您理解并同意，聚嘉选可在聚嘉
选平台规则中约定违约认定的程序和标准。如：聚嘉选可依据您的用户数据与海量用户数据的
关系来认定您是否构成违约；您有义务对您的数据异常现象进行充分举证和合理解释，否则将
被认定为违约</li>
			</ul>
		</ul>
		<li>8.2 违约处理措施</li>
		<ul class="no-list">
			<li>8.2.1 您在聚嘉选平台上发布的信息构成违约的，聚嘉选可根据相应规则立即对相应信息进行删
除、屏蔽处理或对您的产品进行下架、删除、监</li>
			<li>8.2.2 您在聚嘉选平台上实施的行为，或虽未在聚嘉选平台上实施但对聚嘉选平台及其用户产生
影响的行为构成违约的，聚嘉选可依据相应规则对您执行账户扣分、限制参加营销活动、中止
向您提供部分或全部服务、划扣违约金等处理措施。如您的行为构成根本违约的，聚嘉选可关
闭您的账户，终止向您提供服务</li>
			<li>8.2.3 当您违约的同时存在欺诈、售假、盗用他人账户等特定情形或您存在危及他人交易安全或
账户安全风险时，聚嘉选会依照您行为的风险程度指示支付平台对您的（及您账户绑定的，下
同）支付账户采取取消收款、资金止付等强制措施</li>
			<li>8.2.4 聚嘉选可将对您上述违约行为处理措施信息以及其他经国家行政或司法机关生效法律文书
确认的违法信息在聚嘉选平台上予以公示</li>
		</ul>
		<li>8.3 赔偿责任</li>
		<ul class="no-list">
			<li>8.3.1 如您的行为使聚嘉选及/或其关联公司、支付平台公司遭受损失，您应根据本协议履行赔
偿责任，您需赔偿聚嘉选及/或其关联公司、支付平台公司的因此遭受的损失（如有）包括</li>
			<ul class="no-list">
				<li>（一）支付的合理律师费、诉讼费、消除影响所支出的必要费用</li>
				<li>（二）因行政处罚、司法裁判、法定标准范围内的调解等对外支出的罚款、违约金或赔偿金；</li>
				<li>（三）商誉损失、合理预期利益损失（如会员的流失、支出减少、消费频次降低及店铺经营者
收入减少等），具体金额可以第三方独立合理分析、聚嘉选根据大数据合理分析及其他计算收
益、损失的合理方法所得出的相关估算标准作为计算依据</li>
			</ul>
			<li>（四）因此遭受的其他损失。</li>
			<li>8.3.2 如您的行为使聚嘉选及/或其关联公司、支付平台公司遭受第三人主张权利，聚嘉选及/或
其关联公司、支付平台公司可在对第三人承担金钱给付等义务后就全部损失向您追偿</li>
			<li>8.3.3 如因您的行为使得第三人遭受损失或您怠于履行调处决定，您授权并同意聚嘉选及/或其
	关联公司出于保护社会公共利益或保护其他用户合法权益目的，可指示支付平台公司自您的支
	付账户中划扣相应款项进行支付。如您的支付余额或保证金不足以支付相应款项的，您同意委
	托聚嘉选使用自有资金代您支付上述款项（但聚嘉选并无此义务），您应当返还该部分费用并
	赔偿因此造成聚嘉选的全部损失</li>
			<li>8.3.4 您同意聚嘉选指示支付平台公司自您的账户中划扣相应款项支付上述赔偿款项。如您支付
	平台账户中的款项不足以支付上述赔偿款项的，聚嘉选及/或关联公司可直接抵减您在聚嘉选及
	/或其关联公司其它协议项下的款项及/或权益，并可继续追偿</li>
			<li>
				8.3.5 聚嘉选因故意或重大过失违约导致您利益受损的，聚嘉选将以您的直接实际损失为计算依
	据向您履行赔偿责任
			</li>
		</ul>
		<li>8.4 特别约定</li>
		<ul class="no-list">
			<li>8.4.1 如您向聚嘉选及/或其关联公司的雇员或顾问等提供实物、现金、现金等价物、劳务、旅
游等价值明显超出正常商务洽谈范畴的利益，则可视为您存在商业贿赂行为。发生上述情形
的，聚嘉选可按照聚嘉选平台规则进行相应处理，并经提前通知后终止与您的所有合作并向您
收取违约金及/或赔偿金，该等金额以聚嘉选因您的贿赂行为而遭受的经济损失和商誉损失作为
计算依据</li>
			<li>
				8.4.2 如您因严重违约导致聚嘉选终止本协议时，出于维护平台秩序及保护其他用户合法权益的
目的，聚嘉选及/或其关联公司可对与您在其他协议项下的合作采取中止甚或终止协议的措施，
并以本协议约定的有效方式通知您
			</li>
			<li>
				8.4.3 如聚嘉选与您签署的其他协议及聚嘉选及/或其关联公司、支付平台公司与您签署的协议
中明确约定了对您在本协议项下合作进行关联处理的情形，则聚嘉选出于维护平台秩序及保护
其他用户合法权益的目的，可在收到指令时中止甚至终止协议，并以本协议约定的有效方式通
知您
			</li>
		</ul>
	</ul>

	<p class="title-header">九、协议的变更</p>
	<ul class="no-list">
		<li>9.1 聚嘉选可根据国家法律法规变化及维护市场秩序、保护用户合法权益需要，不时修改本协
议、补充协议，变更后的协议、补充协议（下称“变更事项”）将通过法定程序并以本协议约
定的有效通知方式通知您</li>
		<li>9.2 如您不同意变更事项，您有权于变更事项确定的生效日前联系聚嘉选反馈意见。如反馈意见
得以采纳，聚嘉选将酌情调整变更事项。如您对已生效的变更事项仍不同意的，您应当于变更
事项确定的生效之日起停止使用聚嘉选服务，变更事项对您不产生效力；如您在变更事项生效
后仍继续使用聚嘉选服务，则视为您同意已生效的变更事项</li>
	</ul>

	<p class="title-header">十、有效通知</p>

	<ul class="no-list">
		<li>10.1 有效联系方式
您在注册成为聚嘉选平台用户，并接受聚嘉选服务时，您应该向聚嘉选提供真实有效的联系方
式（包括您的电子邮件地址、联系电话、联系地址等），对于联系方式发生变更的，您有义务
及时更新有关信息，并保持可被有效联系的状态 您在注册聚嘉选平台用户时生成的用于登陆聚嘉选平台接收站内信、系统消息等即时信息的会
员账户（包括子账户），也作为您的有效联系方式 聚嘉选将向您的上述联系方式的其中之一或其中若干向您送达各类通知，而此类通知的内容可
能对您的权利义务产生重大的有利或不利影响，请您务必及时关注。
您有权通过您注册时填写的手机号码或者电子邮箱获取您感兴趣的产品/服务广告信息、促销优
惠等商业性信息；您如果不愿意接收此类信息，您有权通过聚嘉选提供的相应的退订功能进行
退订</li>
		<li>10.2 通知的送达</li>
			<ul class="no-list">
				<li>10.2.1 聚嘉选通过上述联系方式向您发出通知，其中以电子的方式发出的书面通知，包括但不
限于在聚嘉选平台公告，向您提供的联系电话发送手机短信，向您提供的电子邮件地址发送电
子邮件，向您的账户发送信息、系统消息以及站内信信息，在发送成功后即视为送达；以纸质
载体发出的书面通知，按照提供联系地址交邮后的第五个自然日即视为送达</li>
				<li>10.2.2 对于在聚嘉选平台上因交易活动引起的任何纠纷，您同意司法机关（包括但不限于人民
法院）可以通过手机短信或电子邮件等现代通讯方式或邮寄方式向您送达法律文书（包括但不
限于诉讼文书）。您指定接收法律文书的手机号码或电子邮箱等联系方式为您在聚嘉选平台注
册、更新时提供的手机号码、电子邮箱联系方式，司法机关向上述联系方式发出法律文书即视
为送达。您指定的邮寄地址为您的法定联系地址或您提供的有效联系地址 您同意司法机关可采取以上一种或多种送达方式向您达法律文书，司法机关采取多种方式向您
送达法律文书，送达时间以上述送达方式中最先送达的为准。
您同意上述送达方式适用于各个司法程序阶段。如进入诉讼程序的，包括但不限于一审、二
审、再审、执行以及督促程序等。
你应当保证所提供的联系方式是准确、有效的，并进行实时更新。如果因提供的联系方式不确
切，或不及时告知变更后的联系方式，使法律文书无法送达或未及时送达，由您自行承担由此
可能产生的法律后果</li>
			</ul>
	</ul>

	<p class="title-header">十一、协议终止</p>
	<ul class="no-list">
   <li>11.1 协议终止的情形</li>
   <ul class="no-list">
      <li>11.1.1 您有权通过以下任一方式终止本协议：</li>
	      <ul class="no-list">
	         <li>（一）在满足聚嘉选平台要求的账户注销条件时您通过网站自助服务注销您的账户的；</li>
	         <li>（二）变更事项生效前您停止使用聚嘉选服务并明示不愿接受变更事项的；</li>
	         <li>（三）您明示不愿继续使用聚嘉选服务，且符合聚嘉选平台要求的终止条件的。</li>
	      </ul>
	      <li>11.1.2 出现以下情况时，聚嘉选可以本协议约定的有效方式通知您终止本协议：</li>
	      <ul class="no-list">
	         <li>（一）您的实名认证身份无效、不再合法存续或无法有效核实；</li>
	         <li>（二）您违反本协议约定，聚嘉选依据违约条款终止本协议的；</li>
	         <li>（三）您盗用他人账户、发布违禁信息、欺诈、售假、扰乱市场秩序、采取不正当手段牟利等
	            行为，聚嘉选依据聚嘉选平台规则对您的账户予以关闭的；
	         </li>
	         <li>（四）除上述情形外，因您多次违反聚嘉选平台规则相关规定且情节严重，聚嘉选依据聚嘉选
	            平台规则对您的账户予以关闭的；
	         </li>
	         <li>（五）您的账户被聚嘉选依据本协议回收的；</li>
	         <li>（六）您在支付平台或聚嘉选平台有欺诈、发布或销售假冒伪劣/侵权产品、侵犯他人合法权益
	            或其他严重违法违约行为的；
	         </li>
	         <li>
	            （七）聚嘉选基于合理理由相信您的行为可能会使您、聚嘉选及聚嘉选平台用户等相关方发生
	            严重损害或产生法律责任；
	         </li>
	         <li>
	            （八）其它应当终止服务的情况。
	         </li>
	      </ul>
	      <li>
	         11.2 协议终止后的处理
	      </li>
	      <ul class="no-list">
	      	<li>11.2.1 本协议终止后，除法律有明确规定外，聚嘉选无义务向您或您指定的第三方披露您账户
中的任何信息。</li>
			<li>11.2.2 本协议终止后，聚嘉选仍享有下列权利：</li>
			<ul class="no-list">
				<li>（一）继续保存您留存于聚嘉选平台的本协议第八条所列的各类信息；</li>
				<li>（二）对于您过往的违约行为，聚嘉选仍可依据本协议向您追究违约责任。</li>
			</ul>
			<li>11.2.3 本协议终止后，对于您在本协议存续期间产生的交易订单，聚嘉选可通知交易相对方并
根据交易相对方的意愿决定是否关闭该等交易订单；如交易相对方要求继续履行的，则您应当
就该等交易订单继续履行本协议及交易订单的约定，并承担因此产生的任何损失或增加的任何
费用</li>
	      </ul>
	   </ul>
	</ul>

	<p class="title-header">十二、链接</p>

	<p>聚嘉选平台或第三者均可提供与其他万维网网站或资源的链接。由于聚嘉选并不控制该等网站
和资源，您理解并同意，聚嘉选并不对该等外在网站或资源的可用性负责，且不认可该等网站
或资源上或可从该等网站或资源获取的任何内容、宣传、产品、服务或其他材料，也不对其等
负责或承担任何责任。您进一步理解和同意，对于任何因使用或信赖从此类网站或资源上获取
的此类内容、宣传、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失，除
非法律明确规定应由聚嘉选承担责任情形外，聚嘉选均不承担责任。</p>

	<p class="title-header">十三、法律适用、管辖及其他</p>
	<ul class="no-list">
		<li>13.1 本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律；如无
相关法律规定的，则应参照商业惯例和（或）行业惯例。</li>
		<li>13.2 您与聚嘉选仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇佣与 被雇佣或特性授权与被授权关系。</li>
		<li>
			13.3 除双方另有约定外，您同意聚嘉选因经营业务需要有权将本协议项下的权利义务就部分或
全部进行转让，并采取合理途径提前通过法定程序以本协议约定的有效方式通知您
		</li>
		<li>13.4 因本协议或聚嘉选服务所引起或与其有关的任何争议，由聚嘉选与您协商解决。协商不成
时，任何一方均可向被告住所地人民法院提起诉讼</li>
		<li>13.5 倘若本协议任何条款被裁定为无效或不可强制执行，该项条款应被撤销，而其余条款应予
遵守和执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的
范围或限度。聚嘉选未就您或其他人士的某项违约行为采取行动，并不表明聚嘉选撤回就任何
继后或类似的违约事件采取行动的权利 聚嘉选用户签署盖章</li>
	</ul>




</template>

<script>
import { defineComponent, ref, onMounted, computed } from "vue";
import { useStore } from "@/store";
export default {
  name: "UserAgreementComponent",
  components: {},
  setup(){
    return {
    	
    }
  }
  
};
</script>

<style>
	.title-header{
		font-weight: bold;
		font-size: 17px;
	}
	.center{
		text-align: center;
	}
	.no-list{
		list-style: none;
	}
	li{
		padding: 5px 5px;
	}
</style>
