<template>
  <!-- Main Framework7 App component where we pass Framework7 params -->
  <f7-app v-bind="f7params">
    <!-- Main view-->
    <f7-view id="main-view" main url="/" :init="false"></f7-view>
  </f7-app>
</template>

<script>
import routes from "@/routes";
import { useStore } from "@/store";
import { defineComponent, onMounted, onErrorCaptured, computed, provide } from "vue";
import { helpers } from "@/utils/helpers.js";
import { configs } from "@/utils/configs.js";
import { translation } from "@/utils/translation.js";

import { f7ready } from "framework7-vue";
// export default {
//   name: "App",
//   components: {},
//   data() {
//     return {
//       f7params: {
//         routes,
//         view: {
//           browserHistory: true,
//           browserHistorySeparator: "",
//         },
//         root: "#main-view",
//         name: "JJX",
//         id: "com.app.jjx",
//         language: "EN",
//         theme: "md",
//         dialog: {
//           title: "JJX",
//         },
//       },
//     };
//   },
//   mounted() {
//     f7ready((f7) => {
//       f7.views.create("#main-view", { url: "/home/" });
//     });
//   },
// };
export default defineComponent({
  name: "App",
  components: {},
  setup() {
    provide("$translation", translation);
    const store = useStore();

    const f7params = {
      routes,
      view: {
        browserHistory: true,
        browserHistorySeparator: "",
        transition: "f7-cover",
        preloadPreviousPage: false,
      },
      root: "#main-view",
      name: configs.title,
      id: configs.appId || "app.unique.id",
      language: "EN",
      theme: "md",
      dialog: {
        title: configs.title,
      },
      notification: {
        title: configs.title,
        closeTimeout: 3000,
      },
    };

    onMounted(() => {
      f7ready((f7) => {
        const mainView = f7.views.create("#main-view", {
          url: "/home/",
        });

        // FETCH CONFIG DATA
        //store.dispatch("config/fetchData", { force: true });
        store.dispatch("translation/fetchData", { force: true });
      });
    });

    onErrorCaptured((error) => {
      console.log(error);
      helpers.catchError(error, true);
    });

    return { f7params };
  },
});
</script>
<style></style>
